html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background:linear-gradient(to left bottom, rgb(217, 224, 233), rgb(238, 238, 238), rgb(217, 224, 233))
}
